body {
    background-color: rgb(78, 142, 236);
    font: normal 15pt Arial;
}

header {
    > h1 {
        text-shadow: 3px 3px 3px #00000057;
    }
}

section {
    background-color: #FFF;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .363);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div {
        padding: 8px;
    }
}

footer {
    font-style: italic;
    text-shadow: 3px 3px 8px #000000;
}

footer a {
    color: #FFF;
}

header, footer {
    color: #FFF;
    text-align: center;
}